 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

.logo-container{ 
  background-color: #19e37e;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.logo-container img{
  width: 125px;
}

header nav{
  display: flex;
  justify-content: space-around;
}

header nav a{
  flex: 1;
  text-align: center;
  background-color: black;
  padding: 20px;
  color: white;
  text-decoration: none;
  transition: all 0.4s;
}

.selecionada{
  
  background-color: #FA5E8D;
}

header nav a:hover{
  background-color: #FA5E8D;
}

.img-section{
  background: url("../public/home_img.jpg");
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 60px solid black;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.img-section h1{
  height: fit-content;
  text-align: right;
  margin-top: 250px;
  color: white;
  background: #e8915fd3;
  font-size: 40px;
  padding: 20px;
  text-transform: uppercase;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.produtos-section-home{
  background-color: #19e37e;
  min-height: 600px;
}

.produtos-text{
  padding: 40px;
  display: inline-flex;
  flex-direction: column;
}

.produtos-text h2{
  font-size: 40px;
  color: white;
}
 .produtos-text a{
  text-decoration: none;
  align-self: flex-end;
  color: #150074;
 }

.card{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.192);
  min-width: 250px;
  margin: 20px;
}

.card-group{
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.card h4{
  font-size: 20px;
  margin-bottom: 8px;
}

.card p{
  font-size: 15px;
}

.card div{
  padding: 20px;
}


footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  justify-content: space-between;
  background-color: #272727;
  color: white;
  text-align: center;
}

footer h3, footer p, footer .social-media{
  margin-bottom: 20px;
}

footer p{
  width: 50%;
  font-size: 14px;
}

footer .social-media{
  display: flex;
}


footer .social-media a{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cecece;
  padding: 8px;
  border-radius: 20px;
  margin: 0 8px;
}



footer .credits{
  background-color: #202020;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .credits span{
  color: #cecece;
}

.produtos-section-produtos{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  background-color: #F3C79A;
}

.produtos-section-produtos h1{
  margin-bottom: 32px;
  color: white;
}

button{
  display: flex;
  justify-content: center;
  border: none;
  padding: 12px 32px;
  cursor: pointer;
  background-color: #e7e7e7;
  border-radius: 20px;
  background-color: #19e37e;
  color: white;
}

form button{
  width: 30%;
}

.btn-img img{
  width: 20px; 
  margin-right: 20px;
}

button:hover{
  background-color: #15c56d;
}

button:active{
  
  background-color: #109452;
}

.login-section{
  background-color: #F3C79A;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.login-section h2{
  margin-bottom: 20px;
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 40px;
}

form h1{
  margin-bottom: 60px;
}

input[type="email"],input[type="password"],input[type="text"]{
  border-radius: 20px;
  border: 1px solid black;
  padding: 12px 20px;
  width: 30%;
  margin-bottom: 20px;
  outline: none;
}
